$gainsboro: #d8dbe2;
$lightbluesteel: #a9bcd0;
$cadetblue: #58a4b0;
$charcoal: #373f51;
$raisinblack: #1b1b1e;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $gainsboro;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  background-color: $gainsboro;
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  z-index: +1;
}

#header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  background-color: $gainsboro;
  position: fixed;
  top: 0;
  padding-top: 5px;
  z-index: +1;
}

#sub-header-left {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  color: $charcoal;
}

#sub-header-right {
  display: flex;
  width: 30%;
  color: $charcoal;
}

#sub-header-right > p {
  color: $lightbluesteel;

  font-weight: 900;
}

#create-friend, #create-person {
  position: absolute;
  top: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#sub-create-friend, #sub-create-person {
  background-color: $lightbluesteel;
  padding: 10px 30px 10px 30px;
  width: 100%;
  max-width: 350px;
  color: $charcoal;
  border-radius: 7%/12%;
}

#create-person-form, #create-friend-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-wrap: wrap;
  width: 100%;
}

#create-person-form > input, #create-friend-form > input {
  margin: 0 50% 0 50%;
}

#sub-create-person {
  border-radius: 10%/12%;
}

#create-person-form > input, #create-person-form > label, #create-friend-form > input, #create-friend-form > label {
  width: 100%;
  margin: .75% 0 1% 0;
}

#create-friend-form > button, #create-person-form > button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:15px 0 10px 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: $charcoal;
  background-color: $gainsboro;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;

}

#sub-create-friend > button:hover, #sub-create-person > button:hover {
  border-color: rgba(255,255,255,1);
}

#birthdate-div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#birthdate-div > * {
  width: 40%;
  margin: 0;
}

#birthdate-div > #day {
  margin: 0 2% 0 2%;
}